* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: aquamarine;
    width: 50%;
    margin: 0 auto;
    display: flex;
    height: 600px;
    /* align-items: flex-end; */
    justify-content: space-evenly;
    /* COLUNA */
    flex-direction: column;
}

div {
    height: 10%;
    background-color: blueviolet;
}

#div1 {
    width: 50%;
}

#div2 {
    width: 40%;
}

#div3 {
    width: 30%;
}

#div4 {
    width: 60%;
}

#div5 {
    width: 80%;
}